<template>
    <div class="b-sidebar">
        <div class="sidebar-sticky">
            <div class="b-toc-link">
                <a class="toc-link active" href="#">
                  Master <span class="sr-only">(current)</span>
                </a>
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">
                        
                        Dashboard <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                        
                        Orders
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                        
                        Products
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                        
                        Customers
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                        
                        Reports
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                        
                        Integrations
                        </a>
                    </li>
                    </ul>
            </div>
            <div class="b-toc-link">
                <a class="toc-link active" href="#">
                  Master <span class="sr-only">(current)</span>
                </a>
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">
                        
                        Dashboard <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                        
                        Orders
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                        
                        Products
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                        
                        Customers
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                        
                        Reports
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                        
                        Integrations
                        </a>
                    </li>
                    </ul>
            </div>
          </div>
    </div>
</template>

<style >
@media (min-width: 768px){
.b-sidebar {
    border-right: 1px solid rgba(0,0,0,.1);
}
}

    .b-sidebar{
        padding-top: 1rem;
        padding-bottom: 1rem;   
        overflow-y:auto;
        height:calc(100vh - 4rem);
        position:sticky;
        top:4rem;
    }

    .nav-link{
        color:rgba(0,0,0,.65);
        padding: .25rem 1rem!important;
        font-size: 90%;
        -webkit-font-smoothing: antialiased;
    }

    .toc-link{
        color:rgba(0,0,0,.65);
        padding: .25rem 1rem!important;
        
        -webkit-font-smoothing: antialiased;
        font-weight:500;
        font-size: 100%;
    }

    .b-toc-link{
       margin-bottom: 1rem;
    }
    
</style>