<template>
  <div id="app">
    <navbar></navbar>

    <b-container fluid>
      <b-row>
        <b-col md="3" xl="2" sm="12">
           <sideNav></sideNav> 
        </b-col>
        <b-col md="9">
          
        </b-col>
      </b-row>
    </b-container>
    
  </div>
</template>

<script>

import navbar from './components/navbar.vue'
import sideNav from './components/sideNav.vue'

export default {
  name: 'app',
  components: {
    navbar,
    sideNav
  }
}
</script>

<style>

</style>
